<form action="/payment/new">
<div><label for="APR">APR</label>
<input id= "APR" type="text" placeholder="E.g. 5.42" name="user_number"></div>
<div><label for="Number of Years">Number of years</label>
<input id= "Number of Years" type="text" placeholder="How many years to repay?" name="user_number"></div>
<div><label for="Principal">Principal</label>
<input id= "Principal" type="text" placeholder="How much principal?" name="user_number"></div>
<div><button>Calculate monthly payment</button></div>
</form>
