<h1>howdy</h1>

<form action="/square/results">
 <label for="paula">Enter a number</label>
 <input id= "paula" type="text" placeholder="What number do you want to square?" name="elephant">

 <button>Calculate square</button>
</form>

